<ion-header>
  <ion-toolbar>
    <ion-title>Mis Materias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button expand="full" (click)="agregarMateria()">Agregar Materia</ion-button>

  <div class="materias-container" *ngFor="let materia of materias">
    <ion-card (click)="toggleExpandir(materia)">
      <img [src]="materia.imagen" />
      <ion-card-header>
        <ion-card-title>{{ materia.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="materia.expandida">
        <ion-textarea [(ngModel)]="materia.descripcion" placeholder="Descripción de la materia"></ion-textarea>

        <ion-list>
          <ion-item *ngFor="let titulo of materia.titulos; let i = index">
            {{ titulo }}
            <ion-button slot="end" color="danger" fill="clear" size="small" (click)="eliminarTitulo(materia, i)">
              Eliminar
            </ion-button>
          </ion-item>
        </ion-list>

        <ion-item>
          <ion-input #nuevoTitulo placeholder="Nuevo título"></ion-input>
          <ion-button slot="end" (click)="agregarTitulo(materia, nuevoTitulo)">Agregar</ion-button>
        </ion-item>

      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
