<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="!user">Login</ion-title>
    <ion-title *ngIf="user">Perfil</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="login-content">

  <!-- VISTA LOGIN -->
  <div *ngIf="!user" class="login-container">
    <div class="logo-container">
      <div class="logo">
        <ion-icon name="book-notes"></ion-icon>
      </div>
      <h1 class="bienvenido">Bienvenido</h1>
    </div>
    <img class="fotologo" src="..\assets\icono.jpg" alt="logo">

    <form class="credencial">
      <ion-item class="usuario">
        <ion-input type="email" id="usuario" placeholder="Email" #usuario required></ion-input>
      </ion-item>

      <ion-item class="contraseña">
        <ion-input [type]="passwordVisible ? 'text' : 'password'" id="password" placeholder="Contraseña" #password
          required>
        </ion-input>
        <ion-icon class="verPassword" slot="end" [name]="passwordVisible ? 'eye-off-outline' : 'eye-outline'"
          (click)="togglePassword()">
        </ion-icon>
      </ion-item>

      <button class="olvidePassword" type="button" (click)="olvidePassword(usuario.value?.toString() || '')">
        Olvidé la contraseña
      </button>
    </form>

    <ion-button class="btn-iniciarSesion" expand="full" fill="clear"
      (click)="iniciarSesion(usuario.value?.toString() || '', password.value?.toString() || '')">
      Iniciar sesión
    </ion-button>

    <div class="aux">
      <span>Inicia sesión con:</span>
    </div>

    <div class="redes">
      <ion-button class="google" fill="clear" (click)="loginConGoogle()">
        <ion-icon slot="start" name="logo-google"></ion-icon>
      </ion-button>

      <ion-button class="gh" fill="clear" (click)="loginConGithub()">
        <ion-icon slot="start" name="logo-github"></ion-icon>
      </ion-button>
    </div>
    <div class="noCuenta-btn">
      <p class="noCuenta">¿No tenés cuenta?</p>
      <ion-button class="btn-registrarse" (click)="irRegistro()" fill="clear">Registrarse</ion-button>
    </div>
  </div>


  <!-- VISTA PERFIL -->
  <div *ngIf="user" class="perfil-container ion-padding">
    <ion-buttons slot="end">
      <ion-button (click)="irAjustes()" class="ajustes">
        <ion-icon slot="icon-only" name="cog-outline"></ion-icon>
      </ion-button>
    </ion-buttons>


    <h2>Bienvenido, {{ user.displayName || 'Usuario' }}</h2>

    <ion-avatar>
      <img [src]="user.photoURL" alt="Foto de perfil" />
    </ion-avatar>

    <p><strong>Nombre:</strong> {{ nombre }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Fecha de nacimiento:</strong> {{ fecha }}</p>

  </div>

</ion-content>