  <ion-header>
    <ion-toolbar>
      <ion-title>Favoritos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div class="materias-container" *ngFor="let materia of favoritos">
      <ion-card>
        <ion-img [src]="materia.imagen"></ion-img>
        <ion-card-header>
          <ion-card-title>{{ materia.nombre }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ materia.descripcion }}</p>
          <ion-list>
            <ion-item *ngFor="let titulo of materia.titulos">{{ titulo }}</ion-item>
          </ion-list>

        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>