<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Comunidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div *ngFor="let materia of materias" class="materia-card">
    <ion-card>
      <ion-img [src]="materia.imagen"></ion-img>
      <ion-card-header>
        <ion-card-title>{{ materia.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ materia.descripcion }}</p>
        <ion-list *ngIf="materia.archivos?.length">
          <ion-item *ngFor="let archivo of materia.archivos">
            <a [href]="archivo.url" target="_blank">{{ archivo.nombre }}</a>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
