<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Comunidad</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="abrirFiltro()" class="filtrar">
        <ion-icon name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot ="start">
    <ion-button fill="clear" (click)="recargarMaterias()" class="recargarMaterias">
    <ion-icon name="reload-outline" class="recargarMateriasIcon"></ion-icon>
  </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="materias-container">

    <div *ngFor="let materia of materias" class="materia-card">

      <ion-card>
        <ion-img class="materia-img" [src]="materia.imagen"></ion-img>
        <ion-card-header>


          <ion-card-title>{{ materia.nombre }}</ion-card-title>
          <small>Creado por: {{ materia.ownerEmail }}</small>
        </ion-card-header>
        <ion-card-content>
          <p>{{ materia.descripcion }}</p>

          <ion-list *ngIf="materia.archivos?.length">

            <ion-item *ngFor="let archivo of materia.archivos">

              <a [href]="archivo.url" target="_blank">{{ archivo.nombre }}</a>
            </ion-item>
          </ion-list>
        </ion-card-content>
        <ion-button fill="clear" (click)="descargarMateria(materia)" class="down">
          <ion-icon name="download-outline" class="icon-down"></ion-icon>
        </ion-button>
      </ion-card>
  


    </div>

    <div *ngIf="materias.length === 0" class="ion-text-center ion-padding">
      <p>No hay materias disponibles aún.</p>
    </div>

  </div>
</ion-content>