<ion-header>
  <ion-toolbar>
    <ion-title>Mis Materias</ion-title>
  </ion-toolbar>

  <div class="acciones-todas">
    <ion-button fill="clear" color="primary" (click)="toggleExpandirTodos()" class="acciones-todasBtn">
      <ion-icon [name]="todasExpandidas ? 'chevron-up-outline' : 'chevron-down-outline'" slot="start"
        class="acciones-todasIcon"></ion-icon>
    </ion-button>
  </div>
</ion-header>

<ion-content class="ion-padding">
  <ion-button class="agregar-materias" expand="clear" (click)="agregarMateria()">
    <ion-icon class="mas-icon" name="add-outline"></ion-icon>
  </ion-button>

  <div class="materias-container">
    <ion-item-sliding *ngFor="let materia of materias">

      <ion-item-options side="start" [style.height]="materia.expandida ? '500px' : '265px'">
      </ion-item-options>

      <ion-item-options side="end" [style.height]="materia.expandida ? '500px' : '265px'">
        <ion-item-option color="danger" (click)="eliminarMateria(materia)">
          <ion-icon slot="icon-only" name="trash-bin-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>


      <ion-item lines="none">
        <ion-card class="materia-card" style="width:100%; margin:0;">


          <img [src]="materia.imagen" alt="Foto de materia" class="materia-img">

          <div class="btn-img">
            <ion-button fill="clear" color="primary" (click)="abrirSelectorFoto(materia)">
              <ion-icon name="image-outline"></ion-icon>
            </ion-button>

            <ion-button fill="clear" color="danger" (click)="eliminarFoto(materia)" class="btn-eliminar-foto">
              <ion-icon name="trash-bin-outline"></ion-icon>
            </ion-button>

            <input type="file" [id]="'file-' + materia.id" accept="image/*" style="display: none"
              (change)="onFileSelected($event, materia)" />
          </div>

          <ion-card-header>
            <ion-card-title>{{ materia.nombre }}</ion-card-title>

            <div class="acciones">

              <div class="expandir-container">
                <ion-button fill="clear" size="small" (click)="toggleExpandir(materia)" class="expandir">
                  <ion-icon [name]="materia.expandida ? 'chevron-up-outline' : 'chevron-down-outline'">
                  </ion-icon>
                </ion-button>

              </div>
              <ion-button fill="clear" size="small" (click)="editarMateria(materia)" class="editar">
                <ion-icon name="pencil-outline"></ion-icon>
              </ion-button>

            </div>
          </ion-card-header>

          <ion-card-content *ngIf="materia.expandida">
            <div *ngIf="materia.editandoDescripcion; else descripcionFija">
              <ion-textarea [(ngModel)]="materia.descripcionTemp" placeholder="Descripción de la materia"
                class="desc-input">
              </ion-textarea>
              <ion-button size="small" fill="clear" (click)="guardarDescripcion(materia)" class="check-desc">
                <ion-icon name="checkmark-outline"></ion-icon>
              </ion-button>
            </div>

            <ng-template #descripcionFija>
              <div class="desc">
                {{ materia.descripcion || '' }}
              </div>
              <ion-button fill="clear" size="small" (click)="editarDescripcion(materia)" class="editar-desc">
                <ion-icon name="create-outline"></ion-icon>
              </ion-button>
            </ng-template>

            <ion-list>
              <ion-item *ngFor="let titulo of materia.titulos; let i = index">
                {{ titulo }}
                <ion-button slot="end" color="danger" fill="clear" size="small" (click)="eliminarTitulo(materia, i)">
                  <ion-icon name="trash-bin-outline"></ion-icon>
                </ion-button>

              </ion-item>
            </ion-list>

            <ion-button expand="full" color="primary" (click)="subirArchivo(materia)" fill="clear" class="subirArchivo">
              <ion-icon name="cloud-upload-outline"></ion-icon>
            </ion-button>

            <ion-list *ngIf="materia.archivos?.length">
              <ion-item *ngFor="let archivo of materia.archivos">
                <ion-label>
                  <a [href]="archivo.url" target="_blank">{{ archivo.nombre }}</a>
                </ion-label>
                <ion-button fill="clear" color="danger" (click)="eliminarArchivo(materia, archivo)">
                  <ion-icon name="trash-bin-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>

            <ion-segment [(ngModel)]="materia.publicaStr" (ionChange)="onCambioPublica(materia, $event)"
              class="PubPriv">
              <ion-segment-button [value]="'false'">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </ion-segment-button>

              <ion-segment-button [value]="'true'">
                <ion-icon name="lock-open-outline"></ion-icon>
              </ion-segment-button>
            </ion-segment>


            <div class="favYdown">
              <ion-button expand="full" fill="clear" color="warning" (click)="toggleFavorito(materia)" class="fav">
                <ion-icon [name]="materia.favorito ? 'heart-dislike-outline' : 'heart-outline'">
                </ion-icon>
              </ion-button>

            </div>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-item-sliding>
  </div>
</ion-content>