<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volverPerfil()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ajustes-content">

  <ion-list>
    <ion-item button (click)="toggleSeccion('seguridad')">
      <ion-icon slot="start" name="key-outline"></ion-icon>
      <ion-label>Seguridad y cuenta</ion-label>
      <ion-icon slot="end"
        [name]="seccionActiva==='seguridad' ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
    </ion-item>

    <ion-item button (click)="toggleSeccion('soporte')">
      <ion-icon slot="start" name="help-circle-outline"></ion-icon>
      <ion-label>Soporte</ion-label>
      <ion-icon slot="end"
        [name]="seccionActiva==='soporte' ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-card *ngIf="seccionActiva==='seguridad'" class="editar-Perfil">
    <ion-item button (click)="restablecerPassword()">
      <ion-icon slot="start" name="key-outline"></ion-icon>
      <ion-label>Restablecer contraseña</ion-label>
    </ion-item>

    <ion-item button (click)="toggleEditarPerfil()">
      <ion-icon slot="start" name="create-outline"></ion-icon>
      <ion-label>Editar perfil</ion-label>
    </ion-item>

    <ion-item button color="medium" (click)="logout()">
      <ion-icon slot="start" name="exit-outline"></ion-icon>
      <ion-label>Cerrar sesión</ion-label>
    </ion-item>

    <ion-item button color="danger" (click)="eliminarCuenta()">
      <ion-icon slot="start" name="trash-outline"></ion-icon>
      <ion-label>Eliminar cuenta</ion-label>
    </ion-item>

    <ion-card *ngIf="editarPerfilAbierto" class="editar-Perfil">
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input [(ngModel)]="nombre" placeholder="Nombre completo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Fecha de nacimiento</ion-label>
        <ion-input type="date" [(ngModel)]="fecha"></ion-input>
      </ion-item>

      <div class="btn-perfil">
        <ion-button expand="full" (click)="guardarPerfil()" fill="clear">
          <ion-icon name="checkmark-outline" id="guardarPerfil-icon"></ion-icon>
        </ion-button>
        <ion-button expand="full" color="medium" fill="clear" (click)="toggleEditarPerfil()">
          <ion-icon name="close-circle-outline" id="eliminarPerfil-icon"></ion-icon>
        </ion-button>
      </div>
    </ion-card>
  </ion-card>

  <ion-card *ngIf="seccionActiva==='soporte'" class="editar-Perfil">
    <ion-item button (click)="contactarSoporte()">
      <ion-label>Enviar email al soporte</ion-label>
    </ion-item>
  </ion-card>

</ion-content>