<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="registro-content">
  <div class="registro-container">
    <div class="logo-section">
      <div class="logo">
        <ion-icon name="person-add"></ion-icon>
      </div>
      <h1>Crear cuenta</h1>
      <p class="subtitle">Únete a nosotros y comienza a disfrutar</p>
    </div>

    <form class="credencial" (ngSubmit)="registrarUsuario()">

      <ion-item class="nombre">
        <ion-input type="text" [(ngModel)]="nombre" placeholder="Nombre completo" name="nombre" required></ion-input>
      </ion-item>

      <ion-item class="email">
        <ion-input type="email" [(ngModel)]="email" placeholder="Email" name="email" required></ion-input>
      </ion-item>

      <ion-item class="password">
        <ion-input [type]="passwordVisible ? 'text' : 'password'" [(ngModel)]="password" placeholder="Contraseña"
          name="password" required>
        </ion-input>
        <ion-icon slot="end" [name]="passwordVisible ? 'eye-off-outline' : 'eye-outline'" (click)="togglePassword()">
        </ion-icon>
      </ion-item>

      <ion-item class="rep">
        <ion-input [type]="repPasswordVisible ? 'text' : 'password'" [(ngModel)]="repPassword"
          placeholder="Repetir contraseña" name="repPassword" required>
        </ion-input>
        <ion-icon slot="end" [name]="repPasswordVisible ? 'eye-off-outline' : 'eye-outline'"
          (click)="toggleRepPassword()">
        </ion-icon>
      </ion-item>

      <ion-item class="fecha">
        <ion-input type="date" [(ngModel)]="fecha" name="fecha" required></ion-input>
      </ion-item>

      <ion-button class="btn-registrarse" expand="clear" type="submit">
        Registrarse
      </ion-button>
    </form>


    <div class="terminos">
      <p>Al registrarte, aceptas nuestros <a href="#">Términos de servicio</a> y <a href="#">Política de privacidad</a>
      </p>
    </div>

    <div class="Cuenta-btn">
      <p class="Cuenta">
        ¿Ya tenés cuenta?
        <ion-button class="btn-iniciarSesion" (click)="irLogin()" fill="clear">
          Iniciar sesión
        </ion-button>
      </p>
    </div>

    <div *ngIf="mensajeVerificacion" class="mensaje-verificacion ion-padding">
      <p>{{ mensajeVerificacion }}</p>
      <a [href]="linkGmail" target="_blank">Abrir Gmail</a>
    </div>
  </div>
</ion-content>