:root {
  --violeta: #8000ff;
  --violeta-dark: #5500cc;
  --blanco: #fffffc;
  --gris-suave: rgba(255, 255, 252, 0.7);
  --fondo: #0b1215;
}

/* ====== HEADER ===== */
ion-header {
  text-align: center;
  background: var(--fondo);
  color: var(--blanco);
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


/* ======== VISTA REGISTRO ======== */

/* ====== CUERPO ====== */
.registro-content {
  --background: var(--fondo);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  padding: 16px;
}

/* === LOGIN CONTAINER === */
.registro-container {
  width: 100%;
  max-width: 380px;
  padding: 30px;
  position: relative;
  top: 10px;
  background: rgba(255, 255, 255, 0.02);
  border: 2px solid var(--violeta);
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.bienvenido {
  color: var(--blanco);
  font-weight: 700;
  margin: 0;
  font-size: 28px;
  text-align: center;
  position: relative;
  top: -20px;
  letter-spacing: 1px;
}

.subtitle {
  color: rgba(255, 255, 252, 0.7);
}

/* === FORMULARIO === */
.credencial {
  display: flex;
  flex-direction: column;
  gap: 18px;
}


.nombre,
.email, .password, .rep, .fecha {
  --background: transparent;
  --color: #fffffc;
  border-radius: 12px;
  padding: 5px;
  transition: all 0.4s ease;
}

.nombre:hover,
.email:hover,
.password:hover,
.rep:hover,
.fecha:hover,
.nombre:focus,
.email:focus,
.password:focus,
.rep:focus,
.fecha:focus {
  border: 1px solid rgb(128, 0, 255, 0.6);
  padding: 5px;
}


/* === BOTÓN LOGIN === */

.btn-registrarse {
  padding: 5px;
  border-radius: 14px;
  font-weight: 600;
  width: 100%;
  background: rgb(28, 1, 65);
  color: var(--blanco);
  transition: all 0.3s ease;
}

.btn-registrarse:hover {
  background: #4d0199;
  border-color: var(--violeta);
  /* efecto hover */
  transform: translateY(-1px);
}


/* === terminos === */

.terminos {
  font-size: 13px;
  color: rgba(255, 255, 252, 0.7);
}


/* ======== ya cuenta ========== */
.Cuenta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  margin-top: auto;
  position: relative;
  top: -25px;
}

.Cuenta {
  color: rgba(255, 255, 252, 0.7);
  font-size: 12px;
}

.btn-iniciarSesion {
  color: rgba(255, 255, 252, 0.7);
  ;
  font-weight: 600;
  font-size: 10px;
  background: transparent;
  position: relative;
  right: 4%;
  top: -3.4px;
  border: none;
  transition: all 0.3s ease;
}

.btn-iniciarSesion:hover {
  color: #8000ff;
  text-decoration: none;
} 
